.top-banner-links:not(:last-child):after {
    content: '';
    display: block;
    height: 12px;
    width: 3px;
    background-color: #fff;
    position: absolute;
    right: -9px;
    bottom: 5px;
}

.footer .top-banner-links:not(:last-child):after {
    background-color: var(--nav-highlight-color);
}

.top-banner {
    background: linear-gradient(48deg, #ffffff 20%, #158D9F 59%, #2696A7 100%);
}