/* overriding react tabs scrollable css  */
.rts___btn {
    border-radius: 5px !important;
    background-color: rgba(230, 230, 230, 0.6) !important;
    border: 0px !important;
}

.rts___tab {
    padding: 10px 15px !important;
}

.rts___tab___selected,
.rts___nav___btn:hover {
    background: linear-gradient(180deg, #07869B 0%, #0361AD 100%) !important;
}

.rts___nav___btn {
    padding: 5px;
    background: none !important;
}

.rts___nav___btn___container {
    padding: 20px;
}

/* facilities css goes here  */

.facilities-main-div {

    .rts___tab___selected,
    .rts___nav___btn:hover,
    .rts___btn:hover {
        background: linear-gradient(180deg, #245272 0%, #147887 100%) !important;
        color: #fff;
    }

    .rts___btn {
        border-radius: 5px !important;
        background-color: transparent !important;
        border: 1px solid #000 !important;
    }

    .rts___tabs___container {
        justify-content: center;
    }
}

.doctor-details .rts___tabs,
.excellence-details .rts___tabs {
    flex-direction: column;
}

.excellence-details .excellence-content-tabs .rts___tabs {
    flex-direction: row;
}

.excellence-details .excellence-content-tabs .rts___nav___btn___container {
    display: none;
}

.doctor-details .rts___tabs .rts___btn,
.excellence-details .rts___tabs .rts___btn {
    border-radius: 0px !important;
}

.excellence-details .rts___tabs___container {
    padding: 0px;
    display: block;
}

.doctor-details .rts___tab.rts___btn.rts___tab___selected,
.doctor-details .rts___btn:hover .excellence-details .rts___tab.rts___btn.rts___tab___selected,
.excellence-details .rts___btn:hover {
    background: linear-gradient(270deg, #00637B 0%, #00A0C6 100%) !important;
    color: #fff;
    border-radius: 0px 15px 15px 0px !important;
}

.patients-visitors,
.excellence-content-tabs {
    .rts___tabs {
        padding: 0px;
        width: 100%;
    }

    .rts___tab {
        margin: 0px;
        flex: 1;
        padding: 20px !important;
    }

    .rts___btn {
        border-radius: 0px !important;
        color: #fff;
    }

    .rts___btn:nth-child(even) {
        background: var(--theme) !important;

    }

    .rts___btn:nth-child(odd) {
        background: var(--highlight) !important;

    }
}


/* CSS for mobile devices only */
@media only screen and (max-width: 767px) {
    .rts___btn {
        font-size: 14px !important;
    }

    .rts___tab {
        padding: 5px 15px !important;
    }

    .rts___nav___btn___container {
        padding: 10px;
    }

    /* health-talk-tabs */
    .health-talk-tabs .rts___tab {
        padding: 5px 20px !important;
        margin: 0px 10px;
    }

}