/* CSS for mobile devices only */
@media only screen and (max-width: 767px) {
    p {
        font-size: 0.875rem;
    }

    main section {
        margin: 2rem 0;
    }
}

@media screen and (min-width: 768px) {

    main section {
        margin: 4rem 0;
    }
}