:root {
    --primary-color: #007bff;
    --secondary-color: #6c757d;
    --nav-highlight-color: #ff0000;
    --highlight: #ff744b;
    --theme: #1a8fa1;
    --footer-highlight: #FF744B;
    --banner-bg: #F2F8F7;
    --content: #545454;
    --appointment-input: #5F5F5F;
    /* Add more variables as needed */
}